.Editing {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}
.Editing-form-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.form-item {
  border: 1px solid black;
  padding: 7px;
}
.Item-row {
  margin-top: 30px;
}
.control {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
  &:hover {
    background-color: darkgrey;
    color: white;
  }
}
.Filter {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.lable-filter {
  margin-right: 20px;
}
